.item-about1 {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Merriweather;
  color: #000;
}
.about-hemingways1,
.testimonials1 {
  position: relative;
  line-height: 135%;
}
.testimonials1 {
  align-self: stretch;
}
.blog1,
.evouchers1,
.vex-gift-cards1 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 34px;
}
.evouchers1,
.vex-gift-cards1 {
  min-width: 113px;
}
.evouchers1 {
  min-width: 79px;
}
.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  min-width: 162px;
}
.item-questions1 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 20px;
  font-family: Merriweather;
  color: #000;
}
.delivery1,
.faqs1,
.help-contact1,
.how-to-redeem1 {
  width: 131px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.delivery1,
.faqs1,
.how-to-redeem1 {
  width: 73px;
}
.faqs1,
.how-to-redeem1 {
  width: 47px;
}
.how-to-redeem1 {
  width: 274px;
}
.help {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 4px;
}
.item-our1 {
  width: 217px;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-family: Merriweather;
  color: #000;
  display: flex;
  align-items: center;
}
.business-gifts1,
.cadbury-gifts-direct1,
.green-blacks1 {
  position: relative;
  line-height: 135%;
}
.sister-sites {
  flex: 0.92;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 4px;
  min-width: 162px;
}
.item-legal1,
.terms-conditions1 {
  align-self: stretch;
  position: relative;
}
.item-legal1 {
  font-size: 24px;
  line-height: 20px;
  font-family: Merriweather;
  color: #000;
}
.terms-conditions1 {
  line-height: 135%;
}
.cookie-policy1,
.privacy-policy1,
.secure-shopping1,
.site-map1 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 106px;
}
.cookie-policy1,
.secure-shopping1,
.site-map1 {
  min-width: 103px;
}
.secure-shopping1,
.site-map1 {
  color: inherit;
  text-decoration: none;
  min-width: 126px;
}
.site-map1 {
  min-width: 67px;
}
.contact1 {
  display: inline-block;
  min-width: 61px;
}
.contact1,
.modern-slavery-statement1 {
  position: relative;
  line-height: 135%;
}
.footer-content,
.legal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal {
  flex: 1;
  flex-direction: column;
  gap: 4px;
  min-width: 162px;
}
.footer-content {
  width: 1165px;
  flex-direction: row;
  gap: 55px;
  max-width: 100%;
}
.hemingways-marketing-services1 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
  color: #333;
  text-align: right;
}
.footer-container {
  align-items: center;
  gap: 29px;
  max-width: 100%;
}
.checkoutpage,
.footer-container,
.footer2,
.footer3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: #bad6eb;
  align-items: center;
  padding: 80px 20px 65px;
  box-sizing: border-box;
  max-width: 100%;
}
.checkoutpage,
.footer2 {
  overflow: hidden;
  align-items: flex-start;
}
.footer2 {
  align-self: stretch;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Lora;
}
.checkoutpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  gap: 120px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .footer-content {
    flex-wrap: wrap;
  }
  .checkoutpage {
    gap: 60px;
  }
}
@media screen and (max-width: 750px) {
  .footer-content {
    gap: 27px;
  }
  .footer2 {
    gap: 24px;
  }
  .checkoutpage {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .item-our1,
  .item-questions1 {
    font-size: 19px;
    line-height: 16px;
  }
  .item-our1 {
    line-height: 23px;
  }
  .sister-sites {
    flex: 1;
  }
  .item-legal1 {
    font-size: 19px;
    line-height: 16px;
  }
  .footer3 {
    padding-top: 52px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
