.link-icon10 {
  height: 130px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.link-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3px 0 4px;
}
.marks-spencer {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.and-value,
.retailer-with-an,
.the-uks-leading {
  margin: 0;
}
.info16,
.the-uks-leading-container {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.the-uks-leading-container {
  align-self: stretch;
  color: #333;
}
.info16 {
  display: inline-block;
  min-width: 35px;
}
.info-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px 0 0;
}
.buy15 {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: Lato;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 29px;
}
.link21 {
  cursor: pointer;
  border: 0;
  padding: 4.5px 9px 5.5px 10px;
  background-color: #d93a19;
  border-radius: 3px;
  justify-content: flex-start;
}
.link21:hover {
  background-color: #ff6140;
}
.border-inner,
.frame-parent8,
.link21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent8 {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.border-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 17px;
  color: #000;
}
.border4 {
  position: absolute;
  top: 0;
  left: 876px;
  border: 1px solid #d5d7d7;
  box-sizing: border-box;
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 9px 7px;
  gap: 8px;
  text-align: center;
  font-size: 14px;
  color: #337ab7;
  font-family: Lora;
}
